{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block modal-header %}{% trans "Forgot password" %}{% endblock %}
{% block modal_class %}login{% endblock %}

{% block form_action %}{% url 'forgot-index' %}{% endblock %}
{% block autocomplete %}{{ HORIZON_CONFIG.password_autocomplete }}{% endblock %}


{% block modal-body %}
  {% comment %}
    These fake fields are required to prevent Chrome v34+ from autofilling form.
  {% endcomment %}
  {% if HORIZON_CONFIG.password_autocomplete != "on" %}
  <div class="fake_credentials" style="display: none">
    <input type="text" name="fake_email" value="" />
  </div>
  {%endif%}
  <fieldset hz-login-finder>
    {% include "horizon/common/_form_fields.html" %}
  </fieldset>
{% endblock %}

{% block modal-footer %}
    <button id="tokenBtn" type="submit" class="btn btn-primary pull-right">{% trans "Submit" %}</button>
{% endblock %}
